/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 /*bootstrap用*/
@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-inverse {
  position: relative;
}

/*サインアップ・サインイン画面*/
.sign_up_container {
  padding: 20px 0 0 150px;
}

.action {
  margin: 10px 0;
}


/*ヘッダー*/
nav {
  color: white;
  line-height: 50px;
}

.flash-message {
  color: green;
}

nav li {
  color: gray;
  margin: 0 20px;
}

.row {
  margin: 10px 0 0 100px;
}

/*userの本一覧*/
.user-book-list {
  margin: 20px 0 0 100px;
}

.user-info container {
  margin: 20px 0 0 100px;
}

.about-message {
  margin: 20px 0 0 100px;
}

.top-messages {
  margin: 20px 0 0 100px;
}
/*フッター*/
footer p {
  float: right;
}